<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script th:src="@{/js/script.js}"></script>

</head>

<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img th:src="@{/images/logos.png}" alt="">
        </div>
        <div class="formBx">
          <form method="post" role="form" th:action="@{/login}">
            <h2>Sign In</h2>
            <input type="text" id="username" name="username" placeholder="Enter email address" />
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" />
            <button type="submit" class="login">Login</button>
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
            <h2>Create an account</h2>
            <input id="firstName" name="firstName" th:field="*{firstName}" placeholder="Enter first name" type="text" />
            <input id="lastName" name="lastName" th:field="*{lastName}" placeholder="Enter last name" type="text" />
            <input id="email" name="email" th:field="*{email}" placeholder="Enter email address" type="email" />
            <input id="password" name="password" th:field="*{password}" placeholder="Enter password" type="password" />
            <button class="btn btn-primary" type="submit">Register</button>
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img th:src="@{/images/logos.png}" alt="">
        </div>
      </div>
  </section>
</body>

</html>