<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>session Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Save User</h2>

        <form  
        method="post"
        role="form"
        th:action="@{/register/save}"
        th:object="${user}"
      >
        <div class="form-group mb-3">
          <label class="form-label">First Name</label>
          <input
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder="Enter first name"
                  th:field="*{firstName}"
                  type="text"
          />
          <p th:errors = "*{firstName}" class="text-danger"
          th:if="${#fields.hasErrors('firstName')}"></p>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Last Name</label>
          <input
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  placeholder="Enter last name"
                  th:field="*{lastName}"
                  type="text"
          />
          <p th:errors = "*{lastName}" class="text-danger"
             th:if="${#fields.hasErrors('lastName')}"></p>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Email</label>
          <input
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email address"
                  th:field="*{email}"
                  type="email"
          />
          <p th:errors = "*{email}" class="text-danger"
             th:if="${#fields.hasErrors('email')}"></p>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Password</label>
          <input
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter password"
                  th:field="*{password}"
                  type="password"
          />
          <p th:errors = "*{password}" class="text-danger"
             th:if="${#fields.hasErrors('password')}"></p>
        </div>


        <div class="form-group mb-3">
          <label class="form-label">Roles</label>
          <select class="form-select" id="roles" name="roles" th:field="*{roles}" multiple="multiple">
              <option value="ROLE_EMPLOYE">Employe</option>
              <!-- <option value="ADMIN">Admin</option> -->
              <!-- Ajoutez d'autres options si nécessaire -->
          </select>
          <p th:if="${#fields.hasErrors('roles')}" class="text-danger">Please select at least one role.</p>
      </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Register</button>
          <span>Already registered? <a th:href="@{/login}">Login here</a></span>
        </div>
      </form>

        <hr>

        <a th:href="@{/sessions}"> Back to session List</a>
    </div>
</body>

</html>
